body {
    background-color: #222930;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.fab, .far {
    color: #4EB1BA;
    font-size: 30px;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 500;
}

.color-primary {
    color: #4EB1BA;
}

.color-secondary {
    color: #cb4d4f;
}

.container {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "name-title name-title bio-image"
                         "bio        bio        bio-image"
                         "social     social     ."
                         "projects   projects   projects"
                         "b1         b2         b3";
    gap: 10px;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header img {
    padding-left: 10px;
}

#navbar {
    background-color: #222930;
    color: #fff;
    height: 60px;
    border-bottom: 4px solid #4EB1BA;
    padding-top: 2px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;         /* keep navbar on top layer */
    width: 100%;
}

#navbar li {
    display: inline;
    padding: 10px;
    font-size: 20px;
    border-radius: 16px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 0.5em;
    border-radius: 16px;
}

#navbar li a:hover {
    background-color: #4EB1BA;
}

#navbar a:active {
    background-color: #4EB1BA;
}

.social {
    grid-area: social;
    text-align: center;
    justify-self: left;
}

.social a {
    padding: 10px;
}

.name-title {
    grid-area: name-title;
}

.name-title > h3 {
    opacity: 30%;
    margin-bottom: 0;
}

.bio {
    grid-area: bio;
    padding-right: 60px;
}

.bio-image {
    grid-area: bio-image;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border: solid 3px #fff;
    box-sizing: border-box;
    border-radius: 50%;
}

#projects {
    margin-top: 60px;
    margin-bottom: 20px;
    grid-area: projects;
}

#projects > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
} 

#projects > h2:after, h2:before {
    content: '';
    width: 150px;
    height: 2px;
    margin: 0 10px;
}

#projects > h2:before {
    background: linear-gradient(to right, #222930, #4EB1BA);
}

#projects > h2:after {
    background: linear-gradient(to right,#4EB1BA, #222930);
}

.block {
    grid-area: block;
    height: auto;
    padding: 10px;
    margin: 2%;
    box-sizing: border-box;
    color: #fff;
}

.block img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #fff;
}

#b1 {
    grid-area: b1;
}

#b2 {
    grid-area: b2;
}

#b3 {
    grid-area: b3;
}

/********** Footer **********/

#main-footer {
    background-color: #0e1a26;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/********** Media Queries **********/

@media(max-width: 980px) {
    .container {
        width: 90%;
    }

    #main {
        float: none;
        max-width: 100%;
        width: 100%;
    }
    
    #side-img img {
        float: none;
        max-width: 70%;
        margin: auto;
        display: block;
    }

    .block {
        float: none;
        width: 70%;
        margin: auto;
    }

    #b1 {
        margin-top: 40px;
    }
}

@media(max-width: 465px) {
    #navbar li {
        padding: 5px;
        font-size: 16px;
    }

    #navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }

    #main h1 {
        font-size: 24px;
    }
}