body {
    background-color: #222930;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    height: 100%;
}

.fab, .far {
    color: #4EB1BA;
    font-size: 30px;
    text-decoration: none;
}

.download-pdf {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: 2px solid #4EB1BA;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    margin: 8px 0 16px 0;
}

h1, h2, h3 {
    font-weight: 500;
    line-height: 1.2em;
}

.color-primary {
    color: #4EB1BA;
}

.color-secondary {
    color: #cb4d4f;
}

.container {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "name-title name-title bio-image"
                         "bio        bio        bio-image"
                         "social     social     ."
                         "projects   projects   projects"
                         "b1         b2         b3";
    gap: 10px;
    width: 80%;
    margin: auto;
    overflow: hidden;

    /* Keep footer at bottom! (116px = header + footer height) */
    min-height: calc(100vh - 116px); 
}

.resume-container {
    grid-column: 1/span 3;
    justify-self: center;
    width: 90%;
}

#main-header img {
    padding-left: 10px;
}

#navbar {
    background-color: #222930;
    color: #fff;
    height: 60px;
    border-bottom: 4px solid #4EB1BA;
    padding-top: 2px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

#navbar li {
    display: inline;
    padding: 10px;
    font-size: 20px;
    border-radius: 16px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 0.5em;
    border-radius: 16px;
    outline: none;
}

.social {
    grid-area: social;
    text-align: center;
    justify-self: left;
}

.social span {
    padding-right: 10px;
    display: inline-block;
    line-height: 3em;
}

.name-title {
    grid-area: name-title;
}

.name-title > h3 {
    opacity: 30%;
    margin-bottom: 0;
}

.bio {
    grid-area: bio;
    padding-right: 60px;
}

.bio-image {
    grid-area: bio-image;
    align-self: center;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border: solid 3px #fff;
    box-sizing: border-box;
    border-radius: 50%;
}

#projects {
    margin-top: 60px;
    margin-bottom: 20px;
    grid-area: projects;
    text-align: center;
}

#projects > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
} 

#projects > h2:after, h2:before {
    content: '';
    width: 20%;
    height: 2px;
    margin: 0 10px;
}

#projects > h2:before {
    background: linear-gradient(to right, #222930, #4EB1BA);
}

#projects > h2:after {
    background: linear-gradient(to right,#4EB1BA, #222930);
}

.block {
    grid-area: block;
    height: auto;
    padding: 10px;
    margin: 2%;
    box-sizing: border-box;
    color: #fff;
}

.block img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #fff;
}

#b1 {
    grid-area: b1;
}

#b2 {
    grid-area: b2;
}

#b3 {
    grid-area: b3;
}

#main-footer {
    background-color: #0e1a26;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

@media(max-width: 800px) {
    .container {
        width: 90%;
        padding-top: 100px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name-title  bio-image"
                             "bio         bio-image"
                             "social      social"
                             "projects   projects"
                             "b1 b2"
                             "b3 .";
    }

    .social {
        justify-self: center;
        padding-top: 50px;
    }
}

@media(max-width: 680px) {
    .container {
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-areas: "name-title"
                             "bio-image"
                             "bio"
                             "social"
                             "projects"
                             "b1"
                             "b2"
                             "b3";
    }

    .name-title, .bio {
        text-align: center;
        padding: 0;
    }

    .bio-image {
        width: 60%;
        justify-self: center;
        margin: 20px 0;
    }

    .social {
        justify-self: center;
        padding-top: 50px;
    }

    #navbar li {
        padding: 5px;
        font-size: 16px;
    }

    #navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }

    .download-pdf {
        font-size: 12px;
        padding: 3px 6px;
    }
}

@media(max-width: 430px) {
    #navbar li {
        padding: 0;
        font-size: 12px;
    }

    #navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
    }

    #navbar > div > ul {
        padding: 0;
    }

    .social > span {
        justify-self: center;
    }

    .download-pdf {
        font-size: 10px;
        padding: 1px 6px;
    }
}

/* Only change color on hover if device is a laptop */
@media(hover: hover) and (pointer: fine) {
    #navbar li a:hover {
        background: #4EB1BA;
    }
}